body {
  padding: 0;
  margin: 0;
  background-color: #b9e8d8;
  color: #9633a9;
  font-family: monospace;
  font-size: 24px;
}

.nav_list {
  display: flex;
  justify-content: center;
  background: #9de0c6;
  margin: 0;
  padding: 20px;
}

.nav_list_item {
  padding: 10px;
  transition: all 0.5s ease;
  transform: scale(1);
  font-weight: 700;
}

.nav_list_item:hover,
.homepage-card:hover,
.article-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

a {
  color: #9633a9;
  text-decoration: none;
}

.home-page {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.homepage-card {
  height: 250px;
  width: 250px;
  cursor: pointer;
  margin: 24px;
  text-align: center;
}

.homepage-card,
.article-card {
  background-color: #9de0c6;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  transform: scale(1);
}

.homepage-card:hover,
.article-card:hover {
  box-shadow: 0px 0px 25px 5px rgb(0 0 0 / 30%);
}

.list-page {
  display: flex;
  flex-direction: column;
  margin: 48px;
}

.search-form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 24px;
}

.search-input {
  height: 20px;
  border: none;
  border-radius: 10px;
  padding: 8px 10px 5px;
  margin-right: 10px;
  font-family: monospace;
  color: #9633a9;
  background: #9de0c6;
}

.search-input::placeholder {
  color: #9633a9;
}

.search-select {
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #9633a9;
  font-family: monospace;
  cursor: pointer;
  background: #9de0c6;
}

.search-input:focus,
.search-select:focus {
  outline: none;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 24px;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.flex-3 {
  flex: 3 !important;
}

.tag {
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 24px;

  border-radius: 24px;
  background: red;
  color: white;
  font-size: 12px;
}

.details-container {
  display: flex;
}

.details-content {
  flex: 1;
  padding: 12px;
}

.details-content.map {
  text-align: center;
}

.details-content h3 {
  margin-top: 0;
}
.details-content h4,
.details-content p {
  margin: 0;
}

.details-content div {
  margin: 24px 0;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12px
}

.map-page,
.map-article {
  padding: 24px;
}

.map-container {
  height: 50vh;
  width: 50%;
  margin: auto;
}

.marker-container {
  position: relative;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.5s ease;
}

.marker-container:hover {
  transform: scale(1.2);
}

.marker-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -44px;
  right: -26px;
}

.marker-icon.selected {
  filter: hue-rotate(280deg);
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #0000004d;
  z-index: 10;
}

.modal-article-details {
  position: absolute;
  top: 48px;
  bottom: 48px;
  right: 48px;
  left: 48px;
  border-radius: 10px;
  background: #9de0c6;
  overflow: scroll;
  padding: 48px;
}

.close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #9633a9;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.simple-map {
  height: 50vh;
  width: 50%;
  margin: auto !important;
}
